$table: #c19a6b; //as in to set things on...
$rand: (random(4)-4);
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
  background: linear-gradient( 333deg, #92c9f1, #d9b7ab, #fff6e6);
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;

    @include PAD {
        max-width: 720px;
    }

    @include MB {
        max-width: 372px;
    }
}
h1 {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
h3 {
  font-family: "Permanent Marker", cursive;
}

.table {
  position: relative;
  display: block;
  width: 88%;
  height: 100%;
  margin: 0 auto;
}

ul {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}
li.poloroid {
    display: flex;
    width: calc((100% - 48px) / 3);
    flex-direction: column;
    padding: 25px 30px;
}
li.poloroid:nth-child(odd) {
  transform: rotate(random(2) + deg);
}
li.poloroid:nth-child(even) {
  transform: rotate(random(2) - 3 + deg);
}
.poloroid {
  width: 3.5in;
  height: 4.25in;
  background: white;
  border-radius: 2%;
}

.poloroid h3 {
  position: relative;
  display: block;
  z-index: 100;
  bottom: 0;
  top: 3.5in;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  transform: rotate($rand + deg);
  opacity: random(100);
}
li.poloroid:hover > .photo img,
li.poloroid:target > .photo img,
li.poloroid:active > .photo img {
  animation: develop-picture 3s ease-in forwards;
}
.photo {
  width: 100%;
  background: black;
  z-index: 10;
  border: 1px solid black;
}

.photo img {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
    black;
  background-size: cover;
  animation: develop-picture 3s ease-in paused;
}

@keyframes develop-picture {
  0% {
    opacity: 0;
    background: black;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}