/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 372px; } }

h1 {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 48px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: white; }

h3 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 24px;
  -webkit-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
  opacity: 45; }

.table {
  position: relative;
  display: block;
  width: 88%;
  height: 100%;
  margin: 0 auto; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

li.poloroid:nth-child(odd) {
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg); }

li.poloroid:nth-child(even) {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg); }

.poloroid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 48px) / 3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 30px;
  background: white;
  border-radius: 2%; }
  @media (max-width: 992px) {
    .poloroid {
      width: 100%;
      margin-bottom: 40px; } }

li.poloroid:hover > .photo img,
li.poloroid:target > .photo img,
li.poloroid:active > .photo img {
  -webkit-animation: develop-picture 3s ease-in forwards;
          animation: develop-picture 3s ease-in forwards; }

.photo {
  width: 100%;
  background: black;
  z-index: 10;
  border: 1px solid black;
  margin-bottom: 16px; }

.photo img {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))), black;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), black;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), black;
  background-size: cover;
  -webkit-animation: develop-picture 3s ease-in paused;
          animation: develop-picture 3s ease-in paused; }

@-webkit-keyframes develop-picture {
  0% {
    opacity: 0;
    background: black; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes develop-picture {
  0% {
    opacity: 0;
    background: black; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=all.css.map */
